body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  /* background-color: aquamarine; */
  /* display: flex;
  justify-content: center; */
  position: absolute;
  bottom: 0px;
  width: 100%;
  top: 0px;
}

.formContainer {
  background-color: aliceblue;
  opacity: .5;
  border: 1px solid rgb(255, 255, 255);
  position: absolute;
  bottom: 0px;
  top: 0px;
  right: 00%;
  left: 65%;
  text-align: center;
}
.Content{
  margin-top: 55px;

}
.inputType{
  border-radius: 10px;
  border: none;
  width: 30%;
}